<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>WeUI</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.1.3/weui.css"/>
        <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>

    </head>
    <body>
            <div class="page">
                    <div class="page__hd">
                        <h1 class="page__title">Footer</h1>
                        <p class="page__desc">页脚</p>
                    </div>
                    <div class="page__bd page__bd_spacing">
                            <a href="#form_page" class="weui-btn weui-btn_default">表单结构</a>
                            <a href="#form_input_status" class="weui-btn weui-btn_default">输入框状态</a>
                            <a href="#form_vcode" class="weui-btn weui-btn_default">验证码</a>
                            <a href="#form_checkbox" class="weui-btn weui-btn_default">复选框</a>
                            <a href="#form_radio" class="weui-btn weui-btn_default">单选框</a>
                            <a href="#form_switch" class="weui-btn weui-btn_default">开关</a>
                            <a href="#form_select" class="weui-btn weui-btn_default">原生选择框</a>
                            <a href="#form_select_primary" class="weui-btn weui-btn_default">模拟选择框</a>
                            <a href="#form_textarea" class="weui-btn weui-btn_default">文本域</a>
                            <input type="tel" required pattern="[0-9]{11}" placeholder="输入你现在的手机号" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号">
                    <input type="text" required pattern="REG_IDNUM" placeholder="输入你的身份证号码" emptyTips="请输入身份证号码" notMatchTips="请输入正确的身份证号码">
                        </div>
                    
                    <div class="page__bd page__bd_spacing">
                        <div class="weui-footer">
                            <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
                        </div>
                        <br>
                        <br>
                        <div class="weui-footer">
                            <p class="weui-footer__links">
                                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                            </p>
                            <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
                        </div>
                        <br>
                        <br>
                        <div class="weui-footer">
                            <p class="weui-footer__links">
                                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                            </p>
                            <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
                        </div>
                        <div class="weui-footer weui-footer_fixed-bottom">
                            <p class="weui-footer__links">
                                <a href="javascript:home();" class="weui-footer__link">WeUI首页</a>
                            </p>
                            <p class="weui-footer__text">Copyright &copy; 2019 sdzhihui.cn</p>
                        </div>
                    </div>
                </div>
        <!-- 使用 -->
       
    </body>
</html>